.shadowcss {
  -webkit-box-shadow: 19px 19px 18px -5px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 19px 19px 18px -5px rgba(0, 0, 0, 0.73);
  box-shadow: 19px 19px 18px -5px rgba(0, 0, 0, 0.73);
}

.bghome {
  background-image: url(../assets/bg.jpg);
}

.bgcalc{
    background-image: url(../assets/aluminio.jpg);
    border: 15px ridge rgb(233, 233, 233);
}

.shadowcss2 {
  -webkit-box-shadow: 25px 25px 18px 8px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 25px 25px 18px 8px rgba(0, 0, 0, 0.73);
  box-shadow: 25px 25px 18px 8px rgba(0, 0, 0, 0.73);
}
